<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filepath" value="C:\TMP"/>
		<add key="greaterWins" value="1"/>
		<add key="senderEmail" value="tournament@tracker.com"/>
		<add key="senderDisplayName" value="KP"/>
	</appSettings>
	<connectionStrings>
    <!-- For server installed localy use this-->
    <!-- <add name="Tournaments" connectionString="Server=LNPF3JSK72\PROTO_TEST_DB;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/> -->
		<add name="Tournaments" connectionString="Server=LNPF3JSK72\PROTO_TEST_DB;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <!-- For docker image of db connection string should be like this, port depends on your build-->
    <!--<add name="Tournaments" connectionString="Server=localhost,11433;Database=Tournaments;User Id=SA;Password=MyPW"/>-->
  </connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" userName="k" password="p" port="25" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>